@using testad.Models.ViewModels
@using testad.Models

@model IndexViewModel


<div>
    <label asp-for="numberroom" class="control-label">Номер кабинета</label>
</div>
<div>
    <input asp-for="numberroom" class="form-control" />
</div>
<div>
    <span class="text-danger"></span>
</div>