@using testad.Models.ViewModels
@using testad.Models

@model IndexViewModel

<div>
    <label asp-for="numberphone" class="control-label">Телефон работника</label>
</div>
<div>
    <input asp-for="numberphone" class="form-control" />
</div>
<div>
    <span class="text-danger"></span>
</div>